<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lav en Ticket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/userClient/contact.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <!--=================== NAVIGATION ============================ -->
    <div th:replace="fragments/navbar :: navigation">

    </div>
</header>
<main class="container" align="">
    <!--    </img src="/images/adventure.jpg">-->
    <!-- === CREATE TICKET === -->
    <form class="contact w-50" id="ticketForm" action="" method="post">
        <div class="valid" id="notFilled"></div>

        <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
                <img src="/images/logo04.PNG" class ="brand_logo" alt="logo">
            </div>
        </div>

        <!-- FIRSTNAME -->
        <div class="form-group ml-5 mr-5 m-1">
            <label for="profile_firstname"></label>
            <input class="form-control" type="text" id="profile_firstname" name="profile_firstname" required placeholder="Fornavn">
        </div>

        <!-- LASTNAME -->
        <div class="form-group ml-5 mr-5 m-1">
            <label for="profile_lastname"></label>
            <input class="form-control" type="text" id="profile_lastname" name="profile_lastname" required placeholder="Efternavn">
        </div>

        <!-- E-mail -->
        <div class="form-group ml-5 mr-5 m-1">
            <label for="ticket_mail"></label>
            <input class="form-control" type="email" id="ticket_mail" name="ticket_mail" required placeholder="E-mail">
        </div>


        <!-- CONTENT -->
        <div class="form-group ml-5 mr-5 m-1">
            <label for="ticket_context"></label>
            <textarea class="form-control" id="ticket_context" name="ticket_context" rows="3" required placeholder="Beskrivelse"></textarea>
        </div>

        <div class="form-group ml-5 mr-5 m-1">
            <input class="form-control" type="number" value="1" style="display: none" name="ticket_active">
        </div>
        <div class="form-group ml-5 mr-5 m-1">
            <input class="form-control" type="number" value="0" style="display: none" name="ticket_taken">
        </div>

        <!-- SUBMIT BUTTON -->
        <div class="ml-5 mr-5 m-3">
            <input type="submit" value="Submit" class="btn submit_btn"/>
        </div>


    </form>
</main>
<footer>
    <!--=================== Footer ============================ -->
    <div th:replace="userClient/partials/footer :: footerFragment"></div>
</footer>
</body>
<script src="/userClient/js/ticketsystem.js"></script>
</html>